[submodule "fitness-app-backend"]
	path = fitness-app-backend
	url = https://github.com/jomariepolanco/fitness-app-backend
[submodule "fitness-app-frontend"]
	path = fitness-app-frontend
	url = https://github.com/jomariepolanco/fitness-app-frontend
